<div class="container py-4">
    <div class="alert alert-info d-flex justify-content-between align-items-center">
        <h4 class="mb-0">Total Price: {{ totalPrice | currency:'EGP' }}</h4>
    </div>

    <select class="form-select w-25 mb-4 shadow-sm" [(ngModel)]="selectedCatId">
        <option [value]="0">All Categories</option>
        @for (cat of categories; track cat.id) {
        <option [value]="cat.id">{{ cat.name }}</option>
        }
    </select>

    <app-courses [selectedCatId]="selectedCatId" (onCourseEnroll)="addToTotalPrice($event)"></app-courses>
</div>